<div class="payment-detail-wrapper">
	<div class="payment-detail payment-detail-c">
		<h6><input type="text" [(ngModel)]="paymentDetails.name" (ngModelChange)="onPaymentChange($event, 'name')" [ngModelOptions]="{updateOn: 'blur'}"></h6>
		<div class="input-group">
		<input type="text" [(ngModel)]="paymentDetails.url" (ngModelChange)="onPaymentChange($event, 'url')" [ngModelOptions]="{updateOn: 'blur'}" placeholder="payment link">
		<a class="input-group-addon" *ngIf="paymentDetails.url && testUrl(paymentDetails.url)" [href]="paymentDetails.url" target="_blank">Open &gt;&gt;</a>
		</div>
		<button class="text-danger" (click)="onPaymentDelete()">Delete</button>
	</div>
	<div class="payment-detail payment-detail-c">
		<input type="number" [(ngModel)]="paymentDetails.cost" (ngModelChange)="onPaymentChange($event, 'cost')" [ngModelOptions]="{updateOn: 'blur'}">
		<select name="freq" [ngModel]="paymentDetails.freq" (ngModelChange)="onFreqChange($event)">
			<option *ngFor="let v of freqOptions" [value]="v">{{v}}</option>
		</select>
	</div>
	<div class="payment-detail payment-detail-c">
		Starting <input type="date" [(ngModel)]="paymentDetails.startDate" (ngModelChange)="onPaymentChange($event, 'payStartDate')" [ngModelOptions]="{updateOn: 'blur'}">
		Next is: {{calcNextPayment()}}
		(11 days from now)
	</div>
</div>
<div style="font-size: x-small;">
	Testing:
	Name: {{paymentDetails.name}}
	Cost: {{paymentDetails.cost}}
	Freq: {{paymentDetails.freq}}
	Start: {{paymentDetails.startDate}}
	Key: {{pid}} {{pid.uid}}
</div>