<div class="form-wrapper">
	<form [formGroup]="newPaymentForm" (ngSubmit)="onFormSubmit()" autocomplete="off" novalidate>
		<div class="form-group">
			<label class="control-label">Name 
				<input type="text" placeholder="Store Membership or Bill" formControlName="name"  class="form-control"> 
				<small *ngIf="newPaymentForm && newPaymentForm.get('name').hasError('required') && newPaymentForm.get('name').touched" class="text-danger">Payment name is required</small>
			</label> 
		</div>
		<div class="form-group">
			<label class="control-label">Website  
			<input type="text" placeholder="http://amazon.com" formControlName="url" class="form-control">  
		</label>
		</div>
		<div class="form-group">
			<label class="control-label" for="cost">Cost  
			<input type="number" formControlName="cost" class="form-control"> 
				<small *ngIf="newPaymentForm && newPaymentForm.get('cost').hasError('required') && newPaymentForm.get('cost').touched" class="text-danger">Cost is required</small> 
			<!-- <small *ngIf="pForm.controls['cost'].invalid && (pForm.controls['cost'].touched || pForm.controls['cost'].dirty)" class="text-danger">$0 would be a good deal, but not worth tracking - Enter a valid value please</small>   -->
		</label>
		</div>
		<div class="form-group">
			<label class="control-label" >Frequency
			<select formControlName="freq" class="form-control">
				<option value="Daily">Daily</option>
				<option value="Weekly">Weekly</option>
				<option value="Monthly" selected>Monthly</option>
				<option value="Yearly">Yearly</option>
			</select>
			</label>
		</div>
		<div class="form-group">
			<label class="control-label">Next Payment  
			<input type="date" formControlName="startDate" class="form-control">  
				<small *ngIf="newPaymentForm && newPaymentForm.get('startDate').hasError('required') && newPaymentForm.get('startDate').touched" class="text-danger">Next date is required</small>
		</label>
		</div>
		<!-- <div class="form-group" *ngIf="newPaymentForm.value.freq === 'Daily'">
			<input type="number" min="1" max="12" formControlName="startTime" class="form-control" value="11">
			<select formControlName="ampm" id="ampm" class="form-control">
				<option value="AM" selected>AM</option>
				<option value="PM">PM</option>
			</select> 
		</div> -->
		<div class="form-group">
			<button type="submit" class="btn">Submit</button>
		</div>
	</form>
</div> 